
.vjs-mux {
  width: auto !important;
  display: flex;
  height: 100% !important;
  position: relative;
  width: 100% !important;
  align-items: center !important;
  justify-content: center !important;
  position: relative !important;
}
.vjs-mux video {
  width: 100% !important;
  height: auto !important;
  max-width: 100% !important;
}
@media screen and (max-aspect-ratio: 12/16) and (min-aspect-ratio: 6/16) {
  .vjs-mux video {
    width: auto !important;
    height: 100% !important;
    max-width: unset !important;
  }
}

@media screen and (min-aspect-ratio: 14/16) {
  .vjs-mux video {
    max-height: 100% !important;
  }
}
.vjs-control-text {
  display: none !important;
}